/* For the navigation bar */
nav {
    height: 57px;
    top: 58px;
    left: 29px;
    border-top-style: solid;
    border-top-color:#E2B3D6;
}

nav ul {
    margin-right: 110px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
    float: right;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    
}

nav ul li {
    display: inline;
    padding: 0 15px;
    font-weight: 700px;
    font-size: 18px;
    line-height: 38.73px;
    color: #1E3050;
    /* margin-left: 50px; */
}

#user-image {
    display: inline;
    padding: 0 15px;
}

#basket-icon {
    /* background-color: #1E3050; */
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    /* border-radius: 50%; */
    display: inline-block;
    /* padding: 0 15px; */
}

#basket-filler {
    background-color: #1E3050;
    position: absolute;
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 18px;
    width: 15px;
    height: 9.5px;
    border-radius: 90%;
    /* display: inline-block; */
    /* padding: 0 15px; */

}

#basket-counter {
    color: white;
    position: absolute;
    margin-top: -15px;
    margin-right: 3px;
    margin-left: 22px;
    width: 15px;
    height: 9.5px;
    border-radius: 90%;
    font-size: 14px;
}

#basket-icon i {
    padding: 0 15px;
    width: 20px;
    height: 20px;
    font-size: 18.5px;
}


nav ul li a {
    text-decoration: none;
    color: #1E3050;
}

nav h1 a {
    text-decoration: none;
    color: white;
    border: white;
}

#project-logo {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color: #FF8E00;
    position: absolute;
    top: 15px;
}

nav h1 {
    font-size: 20px;
    line-height: 29.05px;
    font-weight: 700px;
    color: #CE6D46;
    width: 223px;
    height: 57px;
    /* top: 30px; */
    margin-top: 44px;
    left: 18px;
    position: absolute;
    border: #CE6D46;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;

}


/* Authentication */
.container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 20%;
    top: 50%;
    margin: 0 auto;
    margin-top:100px;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    /* margin-top: 150px;
    margin-left: 350px; */
    /* position: static; */
    /* width: 25%; */
    /* background-color: grey; */
}
h2 {
    
    /* margin-left: 0px; */
    position: absolute;
    width: 20%;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 745px;
}
.container2 {
    width: 20%;
    top: 50%;
    margin: 0 auto;
    margin-top:50px;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);

}

a {
    text-decoration: none;
    color: black;
}

form {
    /* width: 733px; */
    /* height: 571px; */
    /* top: 264px; */
    /* left: 295px; */
    /* padding: 50px 0px 0px 350px; */
    /* margin-top: 125px; */
    /* align-items: top; */
}

input {
    padding: 10px;
    margin: 1px;
    width: 92.5%;
    /* display: flex; */
    /* justify-content: flex-end; */
    border-radius: 2px;
    border-color: lightgrey;
}

#switch {
    display: flex;
}
button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 15px;
    /* margin: 8px 0; */
    cursor: pointer;
    width: 10%;
    display: inline;
    flex:1;
}

.formDiv {
    margin-top: 10px;
}

p {
    color: #144C3D;
    margin-left: 65%;
    margin-top: 7px;
}
#row6 button {
    width: 100%;
    margin-top: 10px;
    /* margin-left: 75%; */
    padding: 15px;
    background-color: #144C3D;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
p span {
    color: seagreen;
}
#row6 p {
    margin-top: 10px;
    margin-left: 0%;
    text-align: center;
}